

.single-tutor {
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
  padding-left: 10px;
  padding-right: 10px;
}
.tutor-title {
  margin-top: 20px;
}


.tutor_title {
  // color: #f15a24;
  color: #f15a24;
  ;
}


.join-section{
  background-color:rgb(255 242 239 /1);
}

a{
  text-decoration: none;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.leading-10 {
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(25 25 25 / 1);
  font-size: 2.5rem;
}

.text-grey-1000 {
  --tw-text-opacity: 1;
  color: rgb(25 25 25 / var(--tw-text-opacity));
}
.leading-7 {
  line-height: 1.75rem;
}
.text-d {
  color: rgb(198 46 70 / 1);
}
.leading-6 {
  line-height: 1.5rem;
}
