
<div class="copyright-bar">
  <div class="container">
    <div class="col-xs-12 col-sm-12 no-padding social" >
      <ul class="link">
        <li class="fb">
        <a target="_blank" rel="nofollow" href="#" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        </li>
        <li class="tw"><a target="_blank" rel="nofollow" href="#" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a></li>
        <li class="googleplus"><a target="_blank" rel="nofollow" href="#" title="GooglePlus">
          <i class="fab fa-google-plus-g"></i>
        </a></li>
        <li class="pintrest"><a target="_blank" rel="nofollow" href="#" title="PInterest">
          <i class="fab fa-pinterest-p"></i>
        </a></li>
        <li class="linkedin"><a target="_blank" rel="nofollow" href="#" title="Linkedin">
          <i class="fab fa-linkedin"></i>
        </a></li>
        <li class="youtube"><a target="_blank" rel="nofollow" href="#" title="Youtube">
          <i class="fab fa-youtube"></i>
        </a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 no-padding copyright">&copy; 2023 Devtechtutorials. All Rights Reserved. </div>

  </div>
</div>
