/* You can add global styles to this file, and also import other style files */



/*  Body
/*===================================================================================*/


ul {
  list-style: none;
}

a {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

body {
  font-size: 13px;
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #ecf0f1;
}

.cnt-home {
  background-color: #f7f7f7 !important;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

.back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  display: none;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #a3a3a3;
  transition: all 0.5s ease;
  box-shadow: 0 0 3px rgba(60,72,88,0.15);
}
.back-to-top:hover {
  background: #2c84f1;
  color: #fff;
}
